@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=VT323&display=swap');

html,
body {
    padding: 0%;
    margin: auto;
    font-family: 'Roboto Condensed', sans-serif;
}

.material-icons {
    font-size: 60px;
    color: red;
}

body {
    display: grid;
    grid-template-columns: 10% auto 10%;
    grid-template-rows: 40% 20% 40%;
    height: 100vh;
}

div {
    grid-column: 2;
    grid-row: 2;
    margin: auto;
    display: grid;
    grid-template-columns: auto auto;
}

p, .material-icons.md-36 {
    font-size: 3em;
}

i {
    margin: auto;
}

@media screen and (max-device-width: 428px) {
    p, .material-icons.md-36 {
        font-size: 2em;
    }
}