@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=VT323&display=swap');

@keyframes XMotion {
    from {
        transform: translateX(-100px);
        opacity: 0%;
    }

    to {
        transform: translateX(0px);
        opacity: 100%;
    }
}

body,
html {
    padding: 0%;
    margin: auto;
    background-color: rgb(87, 128, 87);
    font-family: 'Roboto Condensed', sans-serif;
    color: white;
}

body {
    display: grid;
    grid-template-columns: 20% 60% 20%;
    grid-template-rows: 10% 30% 50% 10%;
    height: 100vh;
}

#logo {
    width: 100px;
    grid-column: 2;
    grid-row: 2;
    margin: auto;
    animation: XMotion 2s;
}

h1 {
    grid-row: 1;
    grid-column: 1 / span 2;
    margin: auto;
    animation: XMotion 2s;
}
form {
    grid-column: 2;
    grid-row: 3;
    display: grid;
    grid-template-rows: auto auto auto auto;
    animation: XMotion 2s;
    height: 100%;
}

#username {
    grid-row: 2;
    height: 30%;
    padding-left: 3%;
    padding-right: 3%;
    margin-top: auto;
    margin-bottom: auto;
    border: none;
    border-radius: 25px;
    font-family: 'Roboto Condensed', sans-serif;
}

#userIdLable {
    grid-row: 2;
    margin: auto;
}

#password {
    grid-row: 3;
    height: 30%;
    padding-left: 3%;
    padding-right: 3%;
    margin-top: auto;
    margin-bottom: auto;
    border: none;
    border-radius: 25px;
}

#userPasswordLable {
    grid-row: 3;
    margin: auto;
}

#submit {
    grid-row: 4;
    grid-column: 1 / span 2;
    width: 30%;
    margin: auto;
    height: 30%;
    border: none;
    border-radius: 25px;
    background-color: #63b75b;
    font-family: 'Roboto Condensed', sans-serif;
    color: white;
}

#submit:hover {
    cursor: pointer;
}

#signUp {
    grid-column: 2;
    grid-row: 4;
    font-style: italic;
    margin: 0% auto auto auto;
    animation: XMotion 2s;
}

span {
    font-weight: bold;
}

span:hover {
    cursor: pointer;
}

@media screen and (max-device-width: 428px) {
    body {
        display: grid;
        grid-template-columns: 10% 80% 10%;
        grid-template-rows: 10% 30% 50% 10%;
    }
}

a {
    text-decoration: none;
}

