<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign up page</title>
</head>

<body>

    <form action="/makeaccount" method="post">

        <label for="">username</label><br>
        <input type="text" id="username" name="username"><br>

        <label for="">first name</label><br>
        <input type="text" id="firstname" name="firstname"><br>

        <label for="">last name</label><br>
        <input type="text" id="lastname" name="lastname"><br>

        <label for="">password</label><br>
        <input type="text" id="password" name="password"><br>

        <input type="submit" value="Submit">
    </form>

</body>

</html>